@import "tailwindcss";

:root {
  --background: #6a11cb;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a044e;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gradient-to-br from-[#6a11cb] to-[#2575fc] min-h-screen min-w-screen;
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  @apply bg-white/10 backdrop-blur-md;
}
